/* Navbar */
.navbar {
    position: relative;
    z-index: 1;
}

.navbar-brand {
    font-family: Magneto;
    font-size: 32px;
}

/* Jumbotron */
.jumbotron {
    background-image: url(img/jumbotron.jpg);
    background-size: cover;
    height: 540px;
    text-align: center;
    position: relative;
}

.jumbotron .container {
    z-index: 1;
    position: relative;
}

.jumbotron::after {
    content: '';
    display: block;
    width: 100%;
    height: 69%;
    background-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
    position: absolute;
    bottom: 0;
}

.jumbotron .display-4 {
    color: red;
    text-align: center;
    margin-top: 150px;
    font-weight: 200;
    font-size: 50px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

/* Content */
.content {
    margin-top: 60px;
    text-align: center;
}

.content h3 {
    font-size: 45px;
    font-family: Ravie;
    font-weight: 200;
    color: red;
    text-transform: uppercase;
    margin-top: 27px;
}

.content p {
    font-size: 23px;
    font-weight: 200;
    color: black;
    margin: 27px 0;
}
/* Akhir Content */

/* Contentt */
.contentt {
    margin-top: 60px;
    text-align: center;
}

.contentt h3 {
    font-size: 45px;
    font-family: Ravie;
    font-weight: 200;
    color: blue;
    text-transform: uppercase;
    margin-top: 27px;
}

.contentt p {
    font-size: 23px;
    font-weight: 200;
    color: black;
    margin: 27px 0;
}
/* Akhir Content */

/* Contenttt */
.contenttt {
    margin-top: 60px;
    text-align: center;
}

.contenttt h3 {
    font-size: 40px;
    font-family: Ravie;
    font-weight: 200;
    color: green;
    text-transform: uppercase;
    margin-top: 27px;
}

.contenttt p {
    font-size: 23px;
    font-weight: 200;
    color: black;
    margin: 27px 0;
}
/* Akhir Contenttt */

/* Footer*/
.footer {
    margin-top:69px;
}
.footer p {
    color: black;
    font-size: 18px;
}
/* Akhir Footer */

/* Desktop Version */
@media (min-width: 992px) {
    .navbar-brand, .nav-link {
        color: red !important;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    }
    .nav-link {
        text-transform: uppercase;
        margin-right: 30px;
    }

    .nav-link:hover::after {
        content: '';
        display: block;
        border-bottom: 3px solid #FF0000;
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }

    .jumbotron {
        margin-top: -75px;
        height: 640px;
    }

    .jumbotron .display-4 {
        font-size: 62px;
    }

    .content {
        text-align: justify;
    }

    .contentt {
        text-align: justify;
    }

    .contenttt {
        text-align: justify;
    }

}